In [2]:
#Multiple of number
def multiple(mul_no):
    for i in range(1,11):
        tble_print=i*mul_no
        print(mul_no,"*",i,"=",tble_print)
mul_no=int(input("Which table do you want?"))
multiple(mul_no)

16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160